.post {
  display: flex;
  justify-content: space-between;
  border-bottom: double;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

button {
  border: none;
  background-color: transparent;
}
